<!-- Horizontal Navigation -->
<md-nav-bar data-md-selected-nav-item="currentNavItem" data-nav-bar-aria-label="navigationLinks">

    <!-- Home Link -->
    <md-nav-item data-md-nav-href="#!/" name="view1" active>
        <!-- <ng-md-icon data-icon="cloud"></ng-md-icon> -->
        <h1 style="margin: 0">Redstone Print & Mail</h1>
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/job-auto" name="view2">
        <!-- <ng-md-icon data-icon="chat_bubble"></ng-md-icon> -->
        Job Costing Automation
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/fac-dist" name="view3">
        <!-- <ng-md-icon data-icon="shopping_cart"></ng-md-icon> -->
        Facility Distribution
    </md-nav-item>
    
    <md-nav-item data-md-nav-href="#!/training" name="view4">
        <!-- <ng-md-icon data-icon="shopping_cart"></ng-md-icon> -->
        Customer Training
    </md-nav-item>
</md-nav-bar>