<!-- Horizontal Navigation -->
<md-nav-bar data-md-selected-nav-item="currentNavItem" data-nav-bar-aria-label="navigationLinks">

    <!-- Home Link -->
    <md-nav-item data-md-nav-href="#!/" name="view1">
        <!--
        <ng-md-icon data-icon="cloud"></ng-md-icon>
        <p class="rsm-m0"><strong></strong></p>
        -->
        Redstone Print & Mail
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/job-auto" name="view2">
        <!-- <ng-md-icon data-icon="chat_bubble"></ng-md-icon> -->
        Cost Automation
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/fac-dist" name="view3">
        <!-- <ng-md-icon data-icon="shopping_cart"></ng-md-icon> -->
        Lightning Prepocessor
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/training" name="view4">
        <!-- <ng-md-icon data-icon="shopping_cart"></ng-md-icon> -->
        Customer Training
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/pre-light" name="view5">
        Apps
        <ng-md-icon data-icon="apps"></ng-md-icon>
    </md-nav-item>

</md-nav-bar>